.claude/
RaspberryPi_Control/    # 树莓派连接隐私
yolo_training/ironball_dataset/    # 铁球数据集
MSPM0_with_BSP/    # M0框架
.vscode/
2021F/
2023E/
2025E/
2026Simulate/
yolo_training/dataset_yolo/      # 铁球数据集yolo版
2026H/pad_recording_package/*.exe    # FFmpeg/FFplay 超100M GitHub限制
